In [523]:
#import statements
import sqlite3
import pandas as pd
from helper_file import convert_keys_to_string_key, convert_keys_to_string
from db_functions import table_structure
import numpy as np
from scipy.stats import norm
import bs4
import requests
import re
from selenium import webdriver
from selenium.webdriver.common.proxy import Proxy, ProxyType
#confinguration settings
import warnings
warnings.filterwarnings('ignore')
proxies = {"http": "http://rahuli:pass@1234@10.3.3.139:3128", 
            "https": "https://rahuli:pass@1234@10.3.3.139:3128"   }

### Getting the derivatives data from the BSE streamer page

In [1109]:
#scraping live data from the bse streamer page for derivatives

#function to get data extracted from html page
link="https://www.bseindia.com/eqstreamer/StreamerMarketwatch.html?flag=2"
def get_page(link, headless=True, proxy=True):     
    options = webdriver.ChromeOptions()
    options.add_argument('--ignore-certificate-errors')
    options.add_argument('--incognito')
    if headless==False: 
        pass
    else: 
        options.add_argument('--headless')
    if proxy==True: 
        prox = Proxy()
        prox.proxy_type = ProxyType.MANUAL
        prox.http_proxy = "10.3.3.139:3128"
        prox.ssl_proxy = "10.3.3.139:3128"
        capabilities = webdriver.DesiredCapabilities.CHROME
        prox.add_to_capabilities(capabilities)
    else :
        capabilities= None
    driver = webdriver.Chrome("C:\webdriver\chromedriver", chrome_options=options, desired_capabilities=capabilities)
    driver.get(link)
    page_source=driver.page_source
    soun=bs4.BeautifulSoup(page_source,"html.parser")
    return soun
#function to get quotes from the bse_site into a table format    
def func_get_table(soup, shift=True):
    table=soup.find_all("table")[2]
    #creating columns list
    columns=list()
    for th in table.find_all("th"):
        columns.append(th.get_text())
    if shift==True:
        columns=columns[1:]
    temp=pd.DataFrame(columns=columns)
    for idx , row in enumerate(table.find_all("tr")):
        temp_list=list()
        if idx == 0: 
            pass 
        else: 
            for items in row.find_all("td"):
                temp_list.append(items.get_text())
            temp_list=pd.DataFrame([temp_list], columns=columns)
            temp=temp.append(temp_list,ignore_index=True)
    return temp

#function to get quotes from the bse_site. Discontinued
def get_page_static(tag, proxies=None):
    r=requests.get(key_toPage(tag),proxies=proxies)
    soup=bs4.BeautifulSoup(r.content, "html.parser")
    return soup

func_get_table(get_page(link))

,Security,Buy(Qty),Buy(Rs),Sell(Rs),Sell(Qty),LTP,Change,%,Volume,Value(Lac),Mkt OI*,Open,High,Low,Close,52Wk High/Low
0,BSX19DECFUT,--,--,--,--,41190.00,390.25,0.96,"54,200","22,261.00",15625,40860.00,41215.00,40850.15,40799.75,--/--
1,BSX19DEC41600.00CE,--,--,--,--,155.05,107.40,225.39,"22,325","9,315.00",4400,96.60,174.70,96.60,47.65,--/--
2,BSX19DEC40700.00PE,--,--,--,--,175.50,-193.90,-52.49,"21,950","8,974.00",275,223.10,223.10,175.50,369.40,--/--
3,BSX19DEC40800.00PE,--,--,--,--,200.15,-186.30,-48.21,"18,925","7,761.00",775,259.50,259.50,199.85,386.45,--/--
4,BSX19DEC40000.00PE,--,--,--,--,71.00,-15.00,-17.44,"6,475","2,594.00",2300,83.85,83.85,66.00,86.00,--/--
5,BSX19DEC41500.00CE,--,--,--,--,195.25,134.45,221.13,"4,875","2,030.00",1750,120.60,201.35,119.20,60.80,--/--
6,BSX19DEC41300.00CE,--,--,--,--,278.65,129.25,86.51,"4,850","2,013.00",1325,178.40,284.50,176.80,149.40,--/--
7,BSX19DEC41400.00CE,--,--,--,--,245.20,120.35,96.40,"4,800","1,996.00",2550,146.55,245.20,146.55,124.85,--/--
8,BSX19DEC39700.00PE,--,--,--,--,47.30,-19.75,-29.46,"4,950","1,967.00",2500,52.65,52.65,47.30,67.05,--/--
9,BSX19DEC39900.00PE,--,--,--,--,54.75,-36.25,-39.84,"3,550","1,418.00",600,71.70,71.70,54.75,91.00,--/--
10,BSX19DEC41200.00CE,--,--,--,--,345.95,171.85,98.71,"3,150","1,306.00",1500,219.60,345.95,219.60,174.10,--/--
11,BSX19DEC39600.00PE,--,--,--,--,39.85,-15.65,-28.20,"3,175","1,258.00",1200,47.05,47.55,37.80,55.50,--/--
12,BSX19DEC40100.00PE,--,--,--,--,77.85,-30.00,-27.82,"2,975","1,195.00",500,98.20,98.20,77.70,107.85,--/--
13,BSX19DEC39800.00PE,--,--,--,--,49.25,-28.90,-36.98,"2,200",876.00,525,62.70,62.70,49.25,78.15,--/--
14,BSX19DEC40400.00CE,--,--,--,--,902.30,438.50,94.55,"1,925",792.00,1250,704.60,902.30,704.60,463.80,--/--
15,BSX19DEC40500.00CE,--,--,--,--,805.85,402.35,99.71,"1,350",556.00,600,642.95,807.80,642.95,403.50,--/--
16,BSX19DEC41100.00CE,--,--,--,--,389.00,150.15,62.86,925,383.00,50,279.55,396.30,279.55,238.85,--/--
17,BSX19DEC41000.00CE,--,--,--,--,470.00,204.95,77.33,550,227.00,1025,390.30,470.25,390.30,265.05,--/--
18,BSX19DEC40600.00PE,--,--,--,--,217.60,-37.40,-14.67,50,20.40,775,218.20,218.20,217.60,255.00,--/--
19,IBHF19DECFUT,--,--,--,--,302.50,10.65,3.65,"6,400",19.35,23541600,302.35,302.50,302.35,291.85,--/--
20,TAMO19DECFUT,--,--,--,--,177.80,4.80,2.77,"9,000",16.03,60678000,179.10,179.10,177.50,173.00,--/--
21,HDBK19DECFUT,--,--,--,--,1271.40,8.15,0.65,"1,000",12.71,28001500,1271.50,1271.50,1271.40,1263.25,--/--
22,BSX19DEC40500.00PE,--,--,--,--,195.85,-38.30,-16.36,25,10.17,1525,195.85,195.85,195.85,234.15,--/--
23,TISC19DECFUT,--,--,--,--,426.25,12.85,3.11,"2,122",9.07,20492154,429.00,429.00,426.25,413.40,--/--
24,AXIS19DECFUT,--,--,--,--,750.00,26.40,3.65,"1,200",9.00,52030800,750.00,750.00,750.00,723.60,--/--
25,GAIL19DECFUT,--,--,--,--,119.90,0.70,0.59,"5,334",6.39,55537608,119.90,119.90,119.90,119.20,--/--
26,YESB19DECFUT,--,--,--,--,--,--,--,0,0.00,218748200,--,--,--,45.45,--/--
27,ITCL19DECFUT,--,--,--,--,--,--,--,0,0.00,108607200,--,--,--,239.05,--/--
28,ICIC19DECFUT,--,--,--,--,--,--,--,0,0.00,104835500,--,--,--,536.45,--/--
29,SUNP19DECFUT,--,--,--,--,--,--,--,0,0.00,63366600,--,--,--,435.05,--/--

In [762]:
#formatting extracted data to suitable table for analysis
dt=func_get_table(soun)

def get_val(text,pattern="DECFUT", bse_index="BSX19",expiry_month="DEC"):
    match= re.search(pattern,text)
    if match:
        tag=(re.sub(f"{pattern}$","",text))
        scrip_tag=re.sub(r"\d+$","",tag)
        sk_p=0.0
        e_type="call"
    if match==None:
        a,b=text.split(expiry_month)
        sk_p=float(re.sub(r"[a-z,A-Z]","",b))
        if re.sub("^.","",re.sub(r"\d","",b))=="CE":
            e_type="call"
        else :
            e_type="put"
        if a==bse_index:
            scrip_tag=a
        else: 
            scrip_tag=re.sub(r"[0-9]+","",a)
    return scrip_tag, e_type, sk_p

In [798]:
# temporary function to get the the premium value of futures (subtracting current price and traded price)
def get_function():
    return 0 # though zero default value is used but later on the function will be attached to get the price of the asset

In [1000]:
columns=["scrip","type", "strike_price", "premium", "expiry_date"]
call_derivatives=pd.DataFrame(columns=columns)
for idx in range(0,22):
    temp_list=list()
    for i in range(0,len(get_val(dt.iloc[idx][0]))):
        temp_list.append(get_val(dt.iloc[idx][0])[i])
    temp_list.append(dt.iloc[idx][5])
    temp_list.append(pd.to_datetime("26-Dec-2019"))
    temp=pd.DataFrame([temp_list],columns=columns)
    a= temp.strike_price==0
    b=temp.premium!="--"
    if a.bool() and b.bool():
        temp.strike_price=temp.premium
        temp.premium=get_function()
    call_derivatives=call_derivatives.append(temp,ignore_index=True)
call_derivatives

    scrip  type strike_price premium expiry_date
0     BSX  call     40408.85       0  2019-12-26
1   BSX19  call        41200  107.50  2019-12-26
2   BSX19  call        41000  164.45  2019-12-26
3   BSX19  call        40900  211.85  2019-12-26
4   BSX19  call        40800  231.70  2019-12-26
5   BSX19   put        40300  310.35  2019-12-26
6   BSX19  call        40700  283.95  2019-12-26
7   BSX19  call        41100  149.60  2019-12-26
8   BSX19  call        41300   92.45  2019-12-26
9    TISC  call       404.70       0  2019-12-26
10   HDBK  call      1256.35       0  2019-12-26
11   ITCL  call       238.70       0  2019-12-26
12  BSX19  call        41600   57.10  2019-12-26
13   TAMO  call       159.15       0  2019-12-26
14   YESB  call            0      --  2019-12-26
15   ICIC  call            0      --  2019-12-26
16   SUNP  call            0      --  2019-12-26
17   GAIL  call            0      --  2019-12-26
18   AXIS  call            0      --  2019-12-26
19   BHEL  call            0      --  2019-12-26
20   RELI  call            0      --  2019-12-26
21   INFY  call            0      --  2019-12-26

> Remarks : 
1. Currently, for further analysis only derivates based on bse_index will be taken further ahead.

In [1001]:
call_derivative=call_derivatives[1:9][call_derivatives.type=="call"]
call_derivative
call_derivative.reset_index(inplace=True)
call_derivative.drop(columns=["index"], inplace=True)
call_derivative

   scrip  type strike_price premium expiry_date
0  BSX19  call        41200  107.50  2019-12-26
1  BSX19  call        41000  164.45  2019-12-26
2  BSX19  call        40900  211.85  2019-12-26
3  BSX19  call        40800  231.70  2019-12-26
4  BSX19  call        40700  283.95  2019-12-26
5  BSX19  call        41100  149.60  2019-12-26
6  BSX19  call        41300   92.45  2019-12-26

> ## Observation: 
1. So we are able to get details of option derivatives available on bse_index.
2. Next step is to estimate the premimum value of differenct options from underlying bse_index value using the BSM method

### Call Estimation through Black-Scholes-Merton Equation

#### BSM Equation : 
$$
d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
d_2 = d_1 - s \cdot \sqrt{t} = \frac{\ln(\frac{S}{K}) + (r - \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
\textbf{C} = SN(d_1) - Ke^{-rt}N(d_2) 
$$

In [821]:
#probability function for black-scholes equation: 
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))
 
def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

In [822]:
#function for black-scholes-merton equation
def BSM(S, K, r, stdev, T):
        return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

> #### Comments : 
1. To get the call_price from the BSM equation, we need latest stock price (S), strike price, volatility in stock prices(standard deviation of stock's historical price) and time period (T) of call option which here is days from today for the expiry date of the derivative & risk-free interest rate.
2. Risk free interest rate is considered as 4% ( which is available through saving account in Indian Bank) 
3. Current date is considered 11-Dec & since expiry date is 26-Dec, T is taken as 11 days (excluding the weekends when bse is closed)

In [1022]:
#defining function to get the assumed values defined in the above comments
class market_values(object):
    def __init__(self,a=0.04, t=11):
        self.r=0.04/250 # Since 4% is annualized rate, daily rate is calculated based on the 250 working days of exchange 
        self.t=t

> ### Comments 
1. In the following steps, bse_index value and historical records has been taken directly from csv file created through the  BSE exchange. Link = https://www.bseindia.com/market_data.html#!#ind2 
2. Kindly also look for the appendix section to see the estimating the bse index from the equity portfolio.

In [957]:
bse=pd.read_csv("bse_historical.csv", names=["OPEN","HIGH","LOW","CLOSE"])
bse.index=pd.to_datetime(bse_index.index)
bse.head()

                OPEN      HIGH       LOW     CLOSE
2018-01-01  34059.99  34101.13  33766.15  33812.75
2018-01-02  33913.55  33964.14  33703.37  33812.26
2018-01-03  33929.61  33998.37  33765.43  33793.38
2018-01-04  33912.49  33995.40  33802.13  33969.64
2018-01-05  34021.27  34188.85  34020.84  34153.85

> Comment: 
1. Using market closing value as the referene value of the index for the day .

In [984]:
#function to calcuate the call_option for a given the stock
def call_value(stock, K, market_conditions):
    log_returns = np.log(1 + stock["CLOSE"].pct_change())
    stdev = log_returns.std()
    r=market_conditions.r
    T=market_conditions.t
    S = stock["CLOSE"].iloc[-1]
    return BSM(S, K, r, stdev, T)

In [1004]:
#comparison of estimated call values & call premium listed on exchange
call_derivative["call_values"]=np.nan
for i in call_derivative.index:
    K=call_derivative.loc[i][2]
    call_derivative["call_values"][i]=call_value(bse,K, market_values())
call_derivative

   scrip  type strike_price premium expiry_date  call_values
0  BSX19  call        41200  107.50  2019-12-26    20.753677
1  BSX19  call        41000  164.45  2019-12-26    59.430524
2  BSX19  call        40900  211.85  2019-12-26    92.435074
3  BSX19  call        40800  231.70  2019-12-26   136.512424
4  BSX19  call        40700  283.95  2019-12-26   192.176565
5  BSX19  call        41100  149.60  2019-12-26    36.157251
6  BSX19  call        41300   92.45  2019-12-26    11.209837

### Inferences: 
1. The call value from BSM equation are much less compared to the premium charged by the seller.
2. Thus it doesn't make sense to buy such derivatives unless you are in speculative trading

### Appendix 
1. Calculating the call_value of the stock for a given strike price.
2. Estimating BSE index from its constituents.

#### 1. Deriving the call_value for a given stock

In [962]:
# initiating the connection with the historical database
db_name_location="equity_db.db"
db=sqlite3.connect(db_name_location)
curr=db.cursor()

In [966]:
#function to get the historical data of a given stock from its scrip name
def data_scrip(scrip):
    scrip="B"+str(scrip)
    curr.execute(f"SELECT * from {scrip}")
    bse_table=table_structure()
    data=pd.DataFrame(curr.fetchall(),columns=bse_table.dict.keys())
    data=data[~data.duplicated(subset="DATE")]
    data.date=pd.to_datetime(data.DATE)
    data=data.sort_values(by=["DATE"])
    data=data.reset_index()
    data=data.drop(columns=["index"])
    return data
data=data_scrip("500182")
data

,DATE,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,NO_TRADES,NO_OF_SHRS,NET_TURNOV,TDCLOINDI
0,2007-01-02,760.00,808.80,753.50,784.15,784.15,762.35,3267,143460,111794876,nan
1,2007-01-03,788.95,797.00,771.05,778.15,778.15,784.15,2081,656878,514253372,nan
2,2007-01-04,777.90,777.90,751.35,755.00,755.00,778.15,1453,650950,501202875,nan
3,2007-01-05,755.00,760.00,746.50,748.05,748.05,755.00,1084,48974,36856110,nan
4,2007-01-08,750.00,750.00,731.00,733.15,733.15,748.05,1045,46004,33879024,nan
...,...,...,...,...,...,...,...,...,...,...,...
3098,2019-08-05,2390.60,2433.60,2347.05,2400.25,2400.25,2401.40,3972,44778,107243128,nan
3099,2019-08-06,2400.00,2484.00,2372.65,2465.00,2465.00,2400.25,3116,40625,99218259,nan
3100,2019-08-07,2480.95,2527.00,2470.00,2505.20,2502.95,2465.00,3674,52752,132182365,nan
3101,2019-08-08,2509.90,2617.95,2500.00,2587.60,2585.00,2505.20,5222,54878,140771763,nan
3102,2019-08-09,2595.55,2640.55,2595.55,2621.00,2622.15,2587.60,3474,48237,126490683,nan

In [993]:
mark=market_values(a=0.05,t=1)
call_value(data, 2100, mark)

521.3359731214337

#### Let's take an example of the HDFC bank related derivative

In [1025]:
scrip = 500180 #scrip detail of hdfc bank
data_scrip(scrip)

,DATE,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,NO_TRADES,NO_OF_SHRS,NET_TURNOV,TDCLOINDI
0,2007-01-02,1070.00,1079.70,1061.00,1068.70,1068.70,1069.75,424,10746,11545380,nan
1,2007-01-03,1071.00,1075.45,1055.00,1065.80,1065.80,1068.70,611,29170,31004455,nan
2,2007-01-04,1055.00,1062.00,1040.00,1049.55,1049.55,1065.80,813,25415,26655276,nan
3,2007-01-05,1040.10,1071.00,1035.00,1054.05,1054.05,1049.55,1338,976272,1025283086,nan
4,2007-01-08,1047.00,1050.00,1021.00,1027.85,1027.85,1054.05,1232,48209,49970393,nan
...,...,...,...,...,...,...,...,...,...,...,...
3098,2019-08-05,2201.00,2201.00,2162.35,2179.40,2179.40,2214.95,5726,124057,270140895,nan
3099,2019-08-06,2168.70,2209.00,2160.00,2188.70,2188.70,2179.40,5315,104654,229038923,nan
3100,2019-08-07,2189.00,2202.60,2165.85,2184.65,2184.65,2188.70,6738,182826,399999223,nan
3101,2019-08-08,2191.00,2244.65,2183.20,2235.55,2235.55,2184.65,7353,231726,512613535,nan
3102,2019-08-09,2249.45,2288.00,2240.15,2281.75,2281.75,2235.55,5354,133210,302981318,nan

In [1047]:
#for HDFC derivative the estimated call price comes as 
a=call_value(data_scrip(scrip), float(call_derivatives.loc[10].strike_price), market_values()) 
print(f"The estimation of the call price is {a} for the premium of {get_function()}")

The estimation of the call price is 1027.6092330347449 for the premium of 0

In [1110]:
link="https://www.bseindia.com/eqstreamer/StreamerMarketwatch.html?flag=1"

### #2. Estimating BSE index from its constituents.

In [1111]:
#function to find the details from the streamer page at bse. 
link="https://www.bseindia.com/eqstreamer/StreamerMarketwatch.html?flag=1"
soun=get_page(link)
dat_table=func_get_table(soun).drop(columns=["Graph"])

,Security,Buy(Qty),Buy(Rs),Sell(Rs),Sell(Qty),LTP,Change,%,Volume,Value(Lac),Open,High,Low,Close,52Wk High/Low
0,RELIANCE,--,--,--,--,1582.45,14.95,0.95,"611,627","9,657.82",1575.00,1590.00,1572.55,1567.50,1614.00/1066.55
1,TATAMOTORS,--,--,--,--,176.65,3.30,1.90,"4,955,131","8,879.59",177.00,183.90,175.50,173.35,239.30/106.00
2,SBIN,--,--,--,--,332.70,10.90,3.39,"1,901,460","6,271.06",325.00,333.55,324.85,321.80,373.70/244.35
3,YESBANK,--,--,--,--,46.65,1.30,2.87,"13,061,178","6,099.81",45.75,47.65,45.50,45.35,285.90/29.05
4,INFY,--,--,--,--,711.25,9.40,1.34,"694,603","4,920.48",706.90,712.70,700.10,701.85,847.40/615.00
5,MARUTI,--,--,--,--,7221.35,223.60,3.20,"68,024","4,853.25",7020.00,7250.00,7020.00,6997.75,7929.00/5447.00
6,TATASTEEL,--,--,--,--,428.75,10.00,2.39,"1,017,026","4,361.15",429.30,434.50,423.60,418.75,560.35/320.30
7,TCS,--,--,--,--,2071.70,54.95,2.72,"197,206","4,045.13",2023.00,2076.45,2007.40,2016.75,2296.00/1809.55
8,AXISBANK,--,--,--,--,752.00,30.40,4.21,"471,839","3,519.96",727.10,753.85,725.30,721.60,826.55/603.55
9,ICICIBANK,--,--,--,--,537.40,2.35,0.44,"554,166","2,988.60",536.50,542.60,535.75,535.05,542.60/336.25
10,HDFC,--,--,--,--,2352.90,34.50,1.49,"102,533","2,411.38",2321.25,2365.00,2318.00,2318.40,2365.00/1821.55
11,KOTAKBANK,--,--,--,--,1691.95,-23.75,-1.38,"120,659","2,048.90",1716.00,1716.55,1688.70,1715.70,1720.00/1198.65
12,LT,--,--,--,--,1305.20,26.00,2.03,"137,866","1,790.00",1289.00,1308.00,1285.65,1279.20,1606.70/1202.30
13,BAJAJ-AUTO,--,--,--,--,3233.05,-27.95,-0.86,"52,109","1,688.28",3270.00,3270.05,3220.20,3261.00,3289.50/2400.00
14,BHARTIARTL,--,--,--,--,427.50,-10.80,-2.46,"362,759","1,563.81",440.00,440.10,426.00,438.30,485.75/269.25
15,SUNPHARMA,--,--,--,--,438.65,4.85,1.12,"328,914","1,427.22",436.30,441.90,425.80,433.80,484.10/350.40
16,VEDL,--,--,--,--,149.35,5.40,3.75,"829,460","1,238.36",147.00,150.65,147.00,143.95,214.25/125.70
17,INDUSINDBK,--,--,--,--,1486.95,44.30,3.07,"83,518","1,229.48",1450.00,1494.00,1450.00,1442.65,1835.00/1192.00
18,HDFCBANK,--,--,--,--,1262.80,-0.65,-0.05,"93,765","1,187.96",1267.00,1272.00,1259.20,1263.45,1287.55/1011.50
19,HINDUNILVR,--,--,--,--,2005.30,-1.15,-0.06,"55,994","1,127.53",2013.00,2024.15,2001.10,2006.45,2187.00/1649.70
20,HEROMOTOCO,--,--,--,--,2336.75,2.65,0.11,"37,405",875.83,2345.00,2358.00,2322.00,2334.10,3382.70/2228.25
21,BAJFINANCE,--,--,--,--,4070.65,14.50,0.36,"19,076",776.32,4066.00,4089.75,4045.00,4056.15,4277.50/2360.95
22,TATAMTRDVR,--,--,--,--,72.80,2.35,3.34,"1,028,557",751.35,72.95,74.75,71.60,70.45,116.35/48.30
23,M&M,--,--,--,--,516.00,4.25,0.83,"144,323",747.37,513.70,522.85,513.70,511.75,814.00/502.70
24,ASIANPAINT,--,--,--,--,1744.00,-7.00,-0.40,"41,599",725.08,1754.00,1757.55,1737.00,1751.00,1833.65/1291.45
25,ITC,--,--,--,--,241.65,3.00,1.26,"268,926",647.18,240.00,242.45,239.30,238.65,310.00/234.10
26,TECHM,--,--,--,--,761.40,5.45,0.72,"45,046",340.63,758.00,763.50,748.50,755.95,846.00/607.90
27,POWERGRID,--,--,--,--,185.90,1.50,0.81,"169,363",315.55,185.95,187.55,185.10,184.40,216.20/173.05
28,ONGC,--,--,--,--,126.45,0.60,0.48,"196,378",248.66,127.45,127.45,126.05,125.85,178.95/115.55
29,HCLTECH,--,--,--,--,543.35,7.05,1.31,"43,356",234.66,539.10,544.20,537.00,536.30,595.00/460.08

In [1152]:
#function to store the page in key_words: 
def key_toPage(key):
    page_list={"sensex_data": 
              "https://www.bseindia.com/markets/equity/EQReports/TopMarketCapitalization.aspx",
              "yes_bank": 
               "https://www.bseindia.com/stock-share-price/yes-bank-ltd/yesbank/532648/",
               "tata_dvr": 
               "https://www.bseindia.com/stock-share-price/tata-motors--ltd---dvr/tatamtrdvr/570001/"
              }
    return page_list[key]

In [1148]:
#creating a list of bse_consitutents
bse=pd.read_csv("bse_constituents.csv", names=["sr","scrip", "name", "type", "comments"])

##function to clean the market capitalization table from the bse site.
mcap=get_page(key_toPage("sensex_data"))

#cleaning the field data: 
def clean_column(data):
    for column in data.columns:
        for idx, item in enumerate(data[column]):
            data[column][idx]=item.strip("\n")
    data[data.columns[2:]]=data[data.columns[2:]].astype("float")
    return data
biz=clean_column(func_get_table(mcap, shift=False))

In [1199]:
def function_net(a):
    if "570001"==str(a): 
        # reference site = https://www.bseindia.com/stock-share-price/tata-motors--ltd---dvr/tatamtrdvr/570001/
        mcap_temp = 3701.90 
        price_temp=72.80
    elif "532648"==str(a):
        #reference site = https://www.bseindia.com/stock-share-price/yes-bank-ltd/yesbank/532648/
        mcap_temp= 11897.95
        price_temp=46.65
    else :
        return False 
    return mcap_temp,price_temp

def function_fill_mcapTable(bse,temp):
    bse["mcap"]=np.nan
    bse["price"]=np.nan

    for items in bse.scrip:
        if function_net(items):
            mcap_temp,price_temp=function_net(items)
        else:
            mcap_temp=temp["Market Capitalization( Cr.)"][temp["Security Code"]==str(items)].values
            price_temp=temp["Close()"][temp["Security Code"]==str(items)].values
            if len(mcap_temp)==0:
                mcap_temp=0
                price_temp=0
        bse["mcap"][bse.scrip==items]=mcap_temp
        bse["price"][bse.scrip==items]=price_temp
    return bse

In [1218]:
mcap=get_page_static("sensex_data", proxies=proxies)
biz=clean_column(func_get_table(mcap, shift=False))
a=function_fill_mcapTable(bse,biz)
m_1978=27342943.47186679 #index_divisor
index=sum(a.price*a.mcap/(m_1978)*100)
index

41009.70999999998