In [1]:
import pandas as pd
from utilities import (Data, Source)
from data_definition import ( sources,
                              clean_preprocessing,
                            )
import datetime
data=Data(**sources)
df=pd.read_json(data.get('test').reader())    
df = clean_preprocessing(df)
df=df.set_index('timestamp')

def set_timezone(date,**kwargs):
    #setting time at midnight start of the day i.e 00:00 hrs
    date=datetime.datetime.combine(date,datetime.time(0,0))
    tz=datetime.timezone(datetime.timedelta(hours=5,minutes=30))
    if kwargs.get('tz_choice',None) =='in':
        tz=pytz.timezone(pytz.country_timezones('in')[0])
        return tz.localize(date)
    return date.replace(tzinfo=tz)    

def get_date_range(initial,end=None,**kwargs):
    #initial date should be in iso format.
    #write a check for conformance of string to iso-format
    start=datetime.date.fromisoformat(initial)
    if end :
        end=datetime.date.fromisoformat(end)
        return start,end
    return start, start+datetime.timedelta(days=kwargs.get('gap',1))

def get_range_slots(initial,gap=1,n_period=1,**kwargs):
    for i in range(0,n_period):
        start , end= get_date_range(initial,gap=gap,)
        if kwargs.get('tz',None):
            yield set_timezone(start,**kwargs),set_timezone(end,**kwargs) 
        else:
            yield start,end 
        initial=end.isoformat()

In [15]:
date_focus='2021-04-22'
tz=datetime.timezone(datetime.timedelta(hours=5,minutes=30))

In [5]:
start, end=next(get_range_slots(date_focus,tz=True))
df_range=df[start:end]

In [20]:
t1=datetime.datetime.combine(start,datetime.time(hour=10,minute=0,second=0))
t1=t1.replace(tzinfo=tz)
t2=t1+datetime.timedelta(hours=1,minutes=0,seconds=0)

In [28]:
df_range[t1:t2].head()

,open,high,low,close,volume,not-applicable
timestamp,,,,,,
2021-04-22 10:00:00+05:30,2338.20,2338.20,2335.20,2336.10,6169,0
2021-04-22 10:01:00+05:30,2336.25,2338.25,2335.20,2338.25,7370,0
2021-04-22 10:02:00+05:30,2338.25,2339.95,2337.25,2338.00,4538,0
2021-04-22 10:03:00+05:30,2338.00,2338.00,2335.00,2335.50,6839,0
2021-04-22 10:04:00+05:30,2336.25,2338.00,2335.40,2336.80,3641,0

In [30]:
dat=df_range[t1:t2]

In [40]:
dat['high']-dat['high'].shift()

timestamp
2021-04-22 10:00:00+05:30     NaN
2021-04-22 10:01:00+05:30    0.05
2021-04-22 10:02:00+05:30    1.70
2021-04-22 10:03:00+05:30   -1.95
2021-04-22 10:04:00+05:30    0.00
                             ...
2021-04-22 10:56:00+05:30    0.00
2021-04-22 10:57:00+05:30   -0.95
2021-04-22 10:58:00+05:30    0.75
2021-04-22 10:59:00+05:30   -0.65
2021-04-22 11:00:00+05:30    0.25
Name: high, Length: 61, dtype: float64

In [56]:
class Predictor:
    def __init__(self,**kwargs):
        self.data=kwargs.get('data',None)
        self.op_cycle=kwargs.get('op_cycle',datetime.timedelta(minutes=5))
    def nextVal(self):
        pass

In [57]:
testCase=Predictor(data=dat)

In [58]:
testCase.

datetime.timedelta(seconds=300)